html {
    font-family: 'Chewy', cursive;
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Chewy', cursive;
    font-size: 1.5em;
    margin-bottom: -4%;

    background-image: linear-gradient(180deg,rgba(0,0,0,.46),transparent 89%);
}

.navbar-brand {
    float: left;
}

.navbar-nav{
    float: right;
}

.nav-link:hover {
    color: #2b1d11 !important;
}

.encomenda {
    margin-top: 10%;
}

/* ----------- Home -----------*/

.social-icon {
    width: 70%;
    position: absolute;
}

.instagram {
    margin-top: -20%;
}

.whatsapp {
    margin-top: -20%;
}
/* ---------- Brownies ----------*/

.brownies {
    background-color: #ece6cf;
    margin-top: -10%;
}

.title-brown h1 {
    font-family: 'Chewy', cursive;
    color: #2b1d11;
    margin-top: 2%;
}

.title-brown hr {
    background-color: #2b1d11;
    height: 1px;
    width: 3%;
    margin-top: -.2%;
}

.box-brown {
    font-family: 'Chewy', cursive;
    color: #2b1d11;
    margin-top: 7%;
    margin-bottom: 10%;
}

.box-brown h4 {
    margin-top: 6%;
}

/* --------- Assinaturas ---------*/

.assinaturas {
    background-color: #453022;
    margin-top: -10%;
}

.title-assinaturas {
    margin-top: 2%;
    font-family: 'Chewy', cursive;
    color: #ece6cf;
}

.title-assinaturas hr {
    background-color: #ece6cf;
    height: 1px;
    width: 3%;
    margin-top: -.2%;
}

.box-assinaturas {
    font-family: 'Chewy', cursive;
    color: #ece6cf;
}

.box-assinaturas h4 {
    margin-top: 5%;
    margin-bottom: 1%;
}

.assinaturas-gallery {
    margin-top: 7%;
}

.assinaturas-last{
    margin-top: 3%;
}

/* --------- Footer ------------*/

footer {
    background-color: #2b1d11;
    height: 8em;
}

.copyright h6 {
    margin-top: 2%;
    color: #ece6cf;
}

/* ------------------------------*/