<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastop</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/43fb59542f.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon" />
</head>

<body>

    <main>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-5">
                        <a class="nav-link" href="{{ url_for('views.Home') }}#home">Home</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link" href="{{ url_for('views.Home') }}#serviços">Serviços</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link" href="{{ url_for('views.Home') }}#nosso-trabalho">Nosso Trabalho</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link" href="{{ url_for('views.Home') }}#contato">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock content%}

        <footer class="footer">
            <div style="color:#202020;">space</div>
            <div class="text-center copyright">
                <h6 class="font-weight-light">© 2020 Fastop Serviços Automotivos | Versão 1.0</h6>
            </div>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>