html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.nav-link:hover {
    color: #f07d30 !important;
}


/* ---------- Serviços ----------*/
.serviços {
    background-color: #202020;
}

.title-serv h1 {
    color: white;
    margin-top: 2%;
}

.title-serv hr {
    background-color: #f07d30;
    height: 1px;
    width: 3%;
    margin-top: -.2%;
}

.box-serv {
    color: white;
    margin-top: 7%;
    margin-bottom: 10%;
}

.box-serv h4 {
    margin-top: 6%;
}
/* ------------------------------*/

/* ------- Nosso Trabalho -------*/
.title-trabalho {
        margin-top: 3%;
}

.title-trabalho hr {
    background-color: black;
    height: .5px;
    width: 40%;
}

.line1 {
    margin-right: 120%;
    margin-top: -1.5%;
}

.line2 {
    margin-left: 60%;
    margin-top: -1%;
}

.gallery {
    margin-top: 7%;
    margin-bottom: 5%;
}
/* ------------------------------*/

/* ----------- Contato -----------*/

.title-contato hr {
    background-color: black;
    height: .5px;
    width: 40%;
}

.info-contato {
    margin-top: 5%;
    margin-bottom: 4%;
}

.info-contato div h3 {
    margin-bottom: 4%;
}
/* ------------------------------*/

footer {
    background-color: #202020;
    height: 8em;
}

.copyright h6 {
    margin-top: 2%;
    color: gray;
}

/* ------------------------------*/

/* -------- Agendamento --------*/

.title-agenda {
    margin-top: 4%;
    color: black;
}

.title-agenda hr {
    background-color: #f07d30;
    height: 1px;
    width: 7%;
    margin-top: -.2%;
}

/* ------------------------------*/
.card {
    margin-top: 6.4%;
    width: 70%;
    margin-bottom: 20%;
}

/* -------------------------------*/
/* ----------- Reserva -----------*/

.forms {
    margin-top: 5%;
    margin-bottom: 2.4%;
}
.agendar {
    margin-top: 2%;
}
.hours {
    margin-top: 10%;
}