html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    margin-bottom: -4%;

    background-image: linear-gradient(180deg,rgba(0,0,0,.46),transparent 89%);
}

.nav-text {
    font-size: 1.5em;
    font-weight: 100;
}

.navbar-brand {
    font-weight: 400;
    float: left;
}

.navbar-nav{
    float: right;
}

.nav-link:hover {
    color: #c78851 !important;
}

.background-home {
    margin-top: -8%;
}

.encomenda {
    margin-top: 10%;
}


/* ----------- Home -----------*/

main {
    background-color:#2b1d11;
}

.banner-btn {
    position: absolute;
    margin-top: -25%;
    margin-left: 10%;
}

.banner-btn a {
    margin-top: -.1%;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.banner-btn h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 700;
}

.banner-btn h4 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 100;
}

/* ---------- Brownies ----------*/

.brownies {
    background-color: #ffffff;
    margin-top: -10%;
}

.title-brown h1 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 2%;
}

.title-brown hr {
    background-color: #000000;
    height: 1px;
    width: 3%;
    margin-top: -.2%;
}

.box-brown {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 7%;
    margin-bottom: 10%;
}

.box-brown h4 {
    margin-top: 6%;
}
