body{
    margin: 0;
    padding: 0;
    background-image: url(../img/imagem_fundo.jpg);
    background-repeat: no-repeat;
}

.box h1{
    color: #3498db;
    font-family: 'Chewy', cursive;

}

.box{
    width: 20%;
    min-width: 250px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    background-color: white;
}


.box input {
    border:0;
    width: 70%;
    min-width: 200px;
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;
    background-color: #e6e6e6;
}

.box input[type = "submit"] {
    width: 25%;
    border:0;
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor:pointer;
    background-color: #3498db;
}

.box input[type="submit"]:hover{
    background: #2ecc71;
}

.notification {
    margin: auto;
    width: 70%;
    min-width: 200px;
    border-radius: 15px;
    font-size: .9em;

    background-color: red;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.notification label {
    margin-left: 2px;
    margin-right: 2px;
}