{% extends 'admin/base.html' %}

{% block page %}

<div class="box mx-auto mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-xs-12 m-xs-1">
            <a href="{{ url_for('views.admin_orders') }}" style="text-decoration: none">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pedidos</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ orders|length }} Pedidos</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-xs-12 m-xs-1">
            <a href="{{ url_for('views.admin_products') }}" style="text-decoration: none">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Produtos</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{  products|length }} Produtos Cadastrados</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-xs-12 m-xs-1">
            <a href="{{ url_for('views.admin_users') }}" style="text-decoration: none">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Usuários</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ users|length }} Usuários Cadastrados</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-between mt-5">
        <div class="card col-sm-6 col-xs-12 text-center mb-5">
            <h5 class="card-header">Pedidos aguardando pagamento</h5>
            <div class="card-body">
            <h5 class="card-title">{{ ordered|length }} Pedidos</h5>
            <p class="card-text">Pedidos realizados no site, mas que ainda não foram pagos.</p>
            <a href="{{ url_for('views.admin_orders_waiting_payment', status='aguardando-pagamento') }}" class="btn btn-primary">Ver todos</a>
            </div>
        </div>

        <div class="card col-sm-6 col-xs-12 text-center mb-5">
            <h5 class="card-header">Pedidos com pagamento confirmado</h5>
            <div class="card-body">
            <h5 class="card-title">{{ paid|length }} Pedidos</h5>
            <p class="card-text">Pedidos com pagamento confirmado aguardando o envio ao cliente.</p>
            <a href="{{ url_for('views.admin_orders_waiting_payment', status='pago') }}" class="btn btn-primary">Ver todos</a>
            </div>
        </div>

    </div>
    
    <div class="row justify-content-between">
        <div class="card col-sm-6 col-xs-12 text-center mb-5">
            <h5 class="card-header">Pedidos enviados</h5>
            <div class="card-body">
            <h5 class="card-title">{{ sent|length }} Pedidos</h5>
            <p class="card-text">Pedidos enviados ao cliente, aguardando o recebimento.</p>
            <a href="{{ url_for('views.admin_orders_waiting_payment', status='enviado') }}" class="btn btn-primary">Ver todos</a>
            </div>
        </div>

        <div class="card col-sm-6 col-xs-12 text-center mb-5">
            <h5 class="card-header">Pedidos Finalizados</h5>
            <div class="card-body">
            <h5 class="card-title">{{ done|length }} Pedidos</h5>
            <p class="card-text">Pedidos com recebimento confirmado.</p>
            <a href="{{ url_for('views.admin_orders_waiting_payment', status='finalizado') }}" class="btn btn-primary">Ver todos</a>
            </div>
        </div>
    </div>

    </div>
</div>

{% endblock %}