{% extends 'admin/base.html' %}

{% block page %}

<div class="box mx-auto">
    <div class="title">
        <h1>Pedidos</h1>
        <hr>
    </div>
    {% for order in orders %}
        <div class="card product-box">
            <div class="card-body row">
                <div class="col-1">
                    <span>{{ order.id }}</span>
                </div>

                <div class="col-3">
                    <span>{{ order.street }}</span>
                </div>

                <div class="col-2">
                    <span>{{ order.address_number }}</span>
                </div>

                <div class="col-2">
                    <span>{{ order.district }}</span>
                </div>

                <div class="col-2">
                    <span>{{ order.cep }}</span>
                </div>

                <div class="2">
                    <span>{{ users[order.client_id-1].name }} {{ users[order.client_id-1].surname }}</span>
                </div>

                {% for item in itens %}
                <div class='col-6'>
                    <span>
                        {{ item.quantity }}x{{ products[item.product_id-1].title }}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}