{% extends 'admin/base.html' %}

{% block page %}

<div class="box mx-auto">
        <div class="mx-auto d-none d-sm-block">
            <div class="title mt-5 mb-2">
                <h1 class="d-inline ml-4">{{ product.title }}</h1>

                <div class="float-right d-inline mx-3">
                    <a role="button" class="btn btn-primary m-2" href="{{ url_for('views.admin_product_edit', id=product.id) }}">Editar</a>

                    <button type="button" class="btn btn-danger m-2" data-toggle="modal" data-target="#modalDelete{{ product.id }}">Apagar</button>
                </div>
                <hr class="mx-auto">
                
            </div>
        </div>

        <div class="mx-auto d-block d-sm-none">
            <h1 class="">{{ product.title }}</h1>

            <div class="d-inline">
                <a role="button" class="btn btn-primary m-2" href="{{ url_for('views.admin_product_edit', id=product.id) }}">Editar</a>
            </div>
    
            <div class="d-inline">
                <button type="button" class="btn btn-danger m-2" data-toggle="modal" data-target="#modalDelete{{ product.id }}">Apagar</button>
            </div>
        </div>

    <div class="modal fade" id="modalDelete{{ product.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDelete{{ product.id }}Label">Deseja apagar este item?</h5>
                </div>
                <div class="modal-footer mx-auto">
                    <a role="button" href="{{ url_for('views.admin_product_delete', id=product.id) }}" class="btn btn-danger">Apagar</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

        <div class="mx-auto">
            <form>
                <fieldset disabled>
                    <div class="form-row">
                        <div class="form-row col-md-8 col-xs-12">
                            <div class="form-group col-md-7 col-xs-12">
                                <label for="name">Nome do Produto</label>
                                <input type="text"  value = "{{ product.title }}" id="disabledTextInput" class="form-control" id="name">
                            </div>

                            <div class="form-group col-md-5 col-xs-12">
                                <label for="name">Valor do Produto</label>
                                <input type="text" value="R${{ ('%.2f'|format(product.price)|string).replace('.', ',') }}" id="disabledTextInput" class="form-control" id="name">
                            </div>

                            <div class="form-group col-md-12 col-xs-12">
                                <label for="address">Descrição do Produto</label>
                                <input type="text" value = "{{ product.desc }}" id="disabledTextInput" class="form-control" id="address">
                            </div>
                        </div>

                        <div class="form-group text-center col-md-4 col-xs-12">
                            <label class="col-12" for="img">Imagem do Produto</label>
                            <div class="row col-12 m-2" id="img">
                                <img src="{{ url_for('static', filename=product.img) }}" class="img-thumbnail col-7 mx-auto">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}