<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Register.css">
    <title>Cadastro</title>
</head>
<body>
    <form class="box" action="index.html" method="POST">
        <h1>Registro</h1>
        <input type="text" name="" placeholder="Nome">
        <input type="text" name="" placeholder="sobrenome">
        <input type="text" name="" placeholder="E-mail">
        <input type="text" name="" placeholder="Telefone">

        <input  class="senha-login"type="password" name="" placeholder="senha">
        <input type="submit" name="" value="Login">
    </form>
    
</body>
</html>