<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH Brownies</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/43fb59542f.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon" />
</head>

<body class="w-100 mx-auto m-0 p-0">

        <main>
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark d-none d-sm-block">
                <div class="collapse navbar-collapse row justify-content-between" id="navbarNav">

                    <a class="navbar-brand col-5 mx-auto" href="#">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" width="135" height="41.4" class="d-inline-block align-top" loading="lazy">
                    </a>

                    <ul class="navbar-nav col-6">
                        <li class="nav-item px-3 my-auto">
                            <a class="nav-link active nav-text" href="{{ url_for('views.homepage') }}#home">Home</a>
                        </li>

                        <li class="nav-item px-3 my-auto">
                            <a class="nav-link active nav-text" href="{{ url_for('views.homepage') }}#brownies">Brownies</a>
                        </li>

                        <!-- <li class="nav-item px-3 my-auto">
                            <a class="nav-link active nav-text" href="{{ url_for('views.homepage') }}#assinaturas">Assinaturas</a>
                        </li> -->

                        <li class="nav-item px-3 my-auto">
                            <a class="nav-link active" href="https://www.instagram.com/ph.brownies/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                        </li>

                        <li class="nav-item px-3 my-auto">
                            <a class="nav-link active" href="https://api.whatsapp.com/send?phone=558599930884&text=&source=&data=&app_absent=" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
                        </li>

                        {% if current_user.is_authenticated: %}
                        <li class="nav-item px-3 my-auto">
                            <a class="nav-link logout py-auto" href="/logout">Deslogar</a>
                        </li>
                        {% endif %}

                        {% if not current_user.is_authenticated: %}
                        <li class="nav-item px-3 my-auto">
                            <a class="nav-link logout py-auto" href="/login">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

   <section id="home" class="home">
        <div class="background-home d-none d-sm-block">
            <img class="img-fluid bg-home" src="{{ url_for('static', filename='img/bg.jpg') }}">
        </div>

        <div class="banner-btn d-none d-sm-block">
            <h1>Os melhores brownies<br> de Fortaleza!</h1>
            <h4>Peça o seu e experimente!</h4>
            <a type="button" class="encomenda btn btn-lg btn-success" href="{{ url_for('views.order') }}">Encomendar</a>
        </div>
        
        <div class="d-block d-sm-none">
            <div class="mx-5 row justify-content-center">
                <a type="button" class="btn btn-lg btn-primary mx-auto my-3 col-5" href="{{ url_for('auth.login') }}">Login</a>
                <a type="button" class="btn btn-lg btn-primary mx-auto my-3 col-5" href="{{ url_for('auth.signup') }}">Cadastro</a>
            </div>

            <a type="button" class="btn btn-lg btn-success d-block m-4" href="{{ url_for('views.order') }}">Encomendar</a>

        </div>

    </section>

    <section id="brownies" class="brownies container-fluid">

        <div style="color:#ece6cf; margin-top: 10%;">.</div>

        <div class="title-brown">
            <h1 class="font-weight-light text-center">Opções de Brownie</h1>
            <hr>
        </div>

        <div class="row justify-content-center">

            {% for product in products %}

            <div class="box-brown col-sm-2 col-xs-12">
                <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename=product.img) }}">
                <h4 class="font-weight-light text-center">{{ product.title }}</h4>
            </div>

            {% endfor %}
        </div>
    </section>

    <!-- <section id="assinaturas" class="assinaturas container-fluid">

        <div style="color:#453022; margin-top: 10%;">.</div>

        <div class="title-assinaturas">
            <h1 class="font-weight-light text-center">Assinaturas</h1>
            <hr>

        </div>

        <div>
            <div class="row justify-content-center assinaturas-gallery">
                
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/browniePadrão.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 10,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieLatinha.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 15,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownie40g.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 20,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieBrigadeiro.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 30,00</h4>
                </div>
            </div>
            
            <div class="row justify-content-center assinaturas-last">
                
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/browniePadrão.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 40,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieLatinha.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 50,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownie40g.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 60,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieBrigadeiro.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 70,00</h4>
                </div>
            </div>

            <div style="color:#453022; margin-top: 5%;">.</div>
            
        </div>

    </section> -->

    <footer class="footer">
        <div style="color:#202020;">.</div>
        <div class="text-center copyright">
            <h6 class="font-weight-light">©2020 PH Brownies | Versão 1.0</h6>
        </div>
    </footer>
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bcSwipe.js') }}"></script>
</body>

</html>