{% extends 'base.html' %}


{% block content %}
    
   <section id="home" class="home">
        <div class="background-home d-none d-sm-block">
            <img class="img-fluid bg-home" src="{{ url_for('static', filename='img/bg.jpg') }}">
        </div>

        <div class="banner-btn d-none d-sm-block">
            <h1>Os melhores brownies<br> de Fortaleza!</h1>
            <h4>Peça o seu e experimente!</h4>
            <a type="button" class="encomenda btn btn-lg btn-success" href="{{ url_for('views.order') }}">Encomendar</a>
        </div>
        
        <div class="d-block d-sm-none">
            <div class="social mx-auto d-block">
                <a class="btn btn-lg" role="button" href="https://www.instagram.com/ph.brownies/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a class="btn btn-lg" role="button" href="https://api.whatsapp.com/send?phone=558599930884&text=&source=&data=&app_absent=" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
            </div>

            <div class=" row justify-content-center">
                <a type="button" class="btn btn-lg btn-primary mx-1 my-3 col-6" href="{{ url_for('auth.login') }}">Login</a>
                <a type="button" class="btn btn-lg btn-primary mx-1 my-3 col-6" href="{{ url_for('auth.signup') }}">Cadastro</a>
            </div>

            <a type="button" class="btn btn-lg btn-success d-block m-4" href="{{ url_for('views.order') }}">Encomendar</a>

        </div>

    </section>

    <section id="brownies" class="brownies container-fluid">

        <div style="color:#ece6cf; margin-top: 10%;">.</div>

        <div class="title-brown">
            <h1 class="font-weight-light text-center">Opções de Brownie</h1>
            <hr>
        </div>

        <div class="row justify-content-center">

            {% for product in products %}

            <div class="box-brown col-sm-2 col-xs-12">
                <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename=product.img) }}">
                <h4 class="font-weight-light text-center">{{ product.title }}</h4>
            </div>

            {% endfor %}
        </div>
    </section>

    <!-- <section id="assinaturas" class="assinaturas container-fluid">

        <div style="color:#453022; margin-top: 10%;">.</div>

        <div class="title-assinaturas">
            <h1 class="font-weight-light text-center">Assinaturas</h1>
            <hr>

        </div>

        <div>
            <div class="row justify-content-center assinaturas-gallery">
                
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/browniePadrão.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 10,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieLatinha.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 15,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownie40g.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 20,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieBrigadeiro.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 30,00</h4>
                </div>
            </div>
            
            <div class="row justify-content-center assinaturas-last">
                
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/browniePadrão.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 40,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieLatinha.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 50,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownie40g.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 60,00</h4>
                </div>
    
                <div class="box-assinaturas col-2">
                    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/brownieBrigadeiro.jpg') }}">
                    <h4 class="font-weight-light text-center">R$ 70,00</h4>
                </div>
            </div>

            <div style="color:#453022; margin-top: 5%;">.</div>
            
        </div>

    </section> -->

{% endblock content %}