<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH Brownies - Encomenda</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/43fb59542f.js" crossorigin="anonymous"></script>

    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon" />

</head>

<body class="row">

    <div class="encomenda-form mx-auto align-middle">
        <div class="box mx-auto align-middle">
            <form class="form-row m-sm-5" action="/encomenda" method="POST">
                <h1 class="text-center col-12">Encomenda</h1>

                <div class="form-group col-sm-9 col-xs-12">
                    <input class="form-control" type="text" size="60" name="street" id="street" placeholder="Endereço" required>
                </div>

                <div class="form-group col-sm-3 col-xs-12">
                    <input class="form-control" type="text" name="number" id="number" placeholder="Número" required>
                </div>      

                <div class="form-group col-sm-4 col-xs-12">
                    <input class="form-control" type="text" size="40" name="district" id="district" placeholder="Bairro" required>
                </div>

                <div class="form-group col-sm-4 col-xs-12">
                    <input class="form-control" type="text" size="40" name="city" id="city" placeholder="Cidade" required>
                </div>

                <div class="form-group col-sm-4 col-xs-12">
                    <input class="form-control" type="text" size="10" maxlength="9" name="cep" id="cep" placeholder="Cep" autofocus required>
                </div>

                <div class="form-group col-sm-12 col-xs-12">
                    <input class="form-control" type="text" size="60" name="complement" id="complement" placeholder="Complemento">
                </div>

                <div class="form-group col-sm-12 col-xs-12 row">
                    <h3 class="col-sm-6 col-xs-12">Opções de Brownies</h3>
                    <p class="col-sm-6 col-xs-12 my-auto">Marque a caixa referente ao brownie desejado e escolha a quantidade</p>
                    <hr class="col-12">
                </div>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="col-sm-12 col-xs-12 notification">
                        {{ messages[0] }}
                    </div>  
                {% endif %}
                {% endwith %}

                {% for product in products %}

                <div class="form-group col-sm-12 col-md-6 col-lg-6 px-4 py-4">
                    <h5 class="font-weight-light text-center">{{ product.title }}</h5>
                    <h6 class="font-weight-light text-center">R${{ ("%.2f"|format(product.price)|string).replace('.', ',') }}</h6>

                    <label class="image-checkbox">
                        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename=product.img) }}">

                        <div>
                            <div class="py-1">
                                <input class="form-check-input col-3" type="checkbox" name="brownie-type{{ loop.index }}" id="brownie-tipo" value="{{ product.title }}">
                            </div>

                            <input type="number" class="form-control w-50 col-6 my-1" min="1" name='quantity{{ loop.index }}' placeholder="Quantidade" id="quantity">
                        </div>
                    </label>
                </div>

                {% endfor %}
                

                <input type="submit" name="" value="Encomendar">
            </form>
        </div>
    </div>
    

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <script  type="text/javascript" src="{{ url_for('static', filename='js/cep-autocomplete.js') }}"></script>

</body>
</html>