<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brownies - Pagamento</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/payment.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/43fb59542f.js" crossorigin="anonymous"></script>

    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon" />

</head>

<body class="row">

    <div class="box mx-auto align-middle">
        <div class="mx-5 align-middle">
                <h1 class="text-center col-12">Pagamento</h1>
                <small class="text-muted"> Ao mudar a quantidade de produtos aperte o botão ao lado para confirmar a mudança e recalcular o total. </small>
                
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Valor</th>
                                <th scope="col"></th>
                            </tr>
                        </a>
                        </thead>
            
                        
                        <tbody>
                            {% for product, quantity in orders.items() %}
                            <tr>
                                <td>{{ product }} (R${{ ("%.2f"|format(prices[product])|string).replace('.', ',') }})</td>

                                <td>
                                    <form action="{{ url_for('views.payment_edit_session', product=product) }}", method="POST" id="checkqty{{loop.index}}">
                                    <input class="border-0 input-qty" id="quantity" type="number" name="quantity_payment-{{product}}" value="{{ quantity }}">
                                    <a class="btn btn-lg" role="button" href="javascript:$('#checkqty{{loop.index}}').submit();"><i class="fas fa-check"></i></a>
                                    </form>
                                </td>

                                <td class="total_price">R${{ ("%.2f"|format(prices[product]|float * quantity|float)|string).replace('.', ',') }}</td>

                                <td class="price" hidden>{{ prices[product]|float * quantity|float }}</td>
                                <td>
                                    <a type="button" data-toggle="modal" data-target="#modalDelete" style="cursor: pointer;">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
            
                                    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="modalDeleteLabel">Deseja apagar este item?</h5>
                                            </div>
                                            <div class="modal-footer mx-auto">
                                            <a role="button" href="{{ url_for('views.payment_remove_session', product=product) }}" class="btn btn-danger">Apagar</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            </div>
            
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tfoot>
                                <tr>
                                    <td><b> Subtotal </b></td>
                                    <td></td>
                                    
                                    <td id="prices_sum">
                                    </td>
        
                                    <td></td>
                                </tr>
                            </tfoot> 
                        </tbody>
                    </table>
                </div>
            <form class="form-row" action="/pagamento" method="POST">
                <input type="submit" name="" value="Confirmar Pedido">
            </form>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <script>
        function tableInfo() {
            $('table thead th').each(function(i) {
                calculateColumn(i);
            });
        };

        function calculateColumn(index) {
            var total = 0;
            $('table tr').each(function() {
                var value = parseFloat($('td', this).eq(index).text());
                if (!isNaN(value)) {
                    total += value;
                }
            });
            if (total != 0) {
                $('table tfoot td').eq(index-1).text('R$' + total.toFixed(2).toString().replace(".", ","));
            }
        }

        $(document).ready(function() {
            tableInfo();
        });

        var input = $('#quantity'), val = input.val();
        input.keypress(tableInfo);

    </script>

</body>
</html>